html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px); 
  z-index: 10;
  background-image: url(../src/Imagenes/Resto/fondo.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: left;
  opacity: 1;
}

header h2 {
    color: #35113d;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*Alguna cosas para que quede responsive el header*/
  @media (max-width: 900px) {
    header h2 {
      font-size: 2rem;
    }
  }

  @media (max-width: 600px) {
    header h2 {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 400px) {
    header h2 {
      font-size: 1rem;
    }
  }

#cabecera {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.logo {
    width: auto;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid #140d2d;
    border-radius: 100%;
    background-color: #140d2d;
}

.logo:hover {
    box-shadow: 0px 0px 5px black;

}

nav {
    background-color: #140d2d;
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 160px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
}

nav ul li a:focus,
nav ul li a:active {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

nav ul li a:hover {
  background-color: #35113d;
  border-bottom-right-radius: 10px ;
  border-top-right-radius: 10px;
}

main {
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
    flex-grow: 1;
}

footer {
  background-color: #20112d;
  color: white;
  text-align: center;
  margin-left: 180px;
  padding: 15px;
  text-decoration: none;
}

.contenido-principal {
  margin-left: 200px;      
  padding: 1rem 2rem;      
  min-height: 100vh;
}

.seccion-libros {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)); /*Esto para que aparezca de 3x2 que antes no pude*/
  gap: 1.5rem;
  margin: 1rem 0;
}

/*Esto para que sea responsive en lo posible*/
  @media (max-width: 900px) {
    .seccion-libros {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  }

  @media (max-width: 600px) {
    .seccion-libros {
      grid-template-columns: 1fr;
    }
  }

.bloque-tema {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  padding: 0.75rem;
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bloque-tema img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.75rem;
}

.bloque-tema a {
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.bloque-tema a:hover {
  text-decoration: underline;
}